<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="./main.css">
    <script src="./script.js" defer></script>
</head>
<body>
    <header>
        <form action="#" method="">
            <input id="text" class="inputs text" type="text">
            <input id="file" class="inputs" type="file">
            <button id="send">SEND</button>
        </form>
    </header>
    <main>
        <ul id="basket"></ul>
    </main>
</body>
</html>