<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
<div class="container bootstrap snippets bootdey">
  <div style="height:auto;min-height:300px;" class="jumbotron">
    <div class="col-md-4">
       <img class="img-responsive center-block img-user" src="https://thumbs.dreamstime.com/b/welcome-mat-open-door-16393313.jpg"> 
    </div>
    <div class="col-md-6 form-content">
      <form accept-charset="utf-8" method="post" id="UserLoginForm" class="form-signin" action="">    	
        <h1 class="form-signin-heading text-muted">Login</h1>
        <input type="text" id="username" autofocus="autofocus" placeholder="Username" class="form-control" name="username">
        <input type="file" id="file" class="form-control">
        <button type="button" id="submit" class="btn btn-lg btn-info btn-block">
          <i class="fa fa-share"></i>
          Login
        </button>
      </form>    
    </div>
  </div>
</div>
<div class="col-md-12">     
  <div class="container bootstrap snippets bootdey">     
    <footer class="footer">
      <p>&copy; xayrullohabduvohidov713@gmail.com</p>
    </footer>
  </div>
</div>
<script src="./login.js"></script>
</body>
</html>